# Ignore files and directories that are not needed in the Docker context
node_modules/
Dockerfile
.dockerignore
docker-compose*
npm-debug.log
yarn-debug.log*
yarn-error.log*
.git/
.gitignore
.DS_Store
*.swp
*.swo
*.bak
*~

